*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    letter-spacing: 0.5px;
    background-color: rgb(230, 216, 179);
    
}


.logo,.logo img{
    position: absolute;
    top: 2px;
    left: 0px;
    height: 50px;
    width: 180px;
    z-index: 99;
    background-color:transparent;
    border-radius:0 25px;
    box-shadow: 4px 3px 0px 2px rgba(150, 104, 51, 0.466);
}

.head{
    height:90vh;
    width:100vw;
    position: relative;
   
    
}
.head img{
    height:100%;
    width: 100%;
    float: right;
    box-shadow: 0px 5px 5px 5px rgb(68, 66, 66);
    border-radius: 0px 0 0 1500px;
    
}

.head h1{
position:absolute;
font-size: 35px;
top: 50px;
left: 180px;
color: rgb(230, 162, 73);
background-color: transparent

}

.head h1>span{
    font-size: 45px;
    color: peachpuff;
    background-color: transparent
}

.head h1>span:nth-child(4){
    position:relative;
    left:270px;
}
.head h1>span:nth-child(6){
    position:relative;
    left: 330px;
}


.hamberger{
    position:fixed;
    top:20px;
    right: 20px;
    z-index:999;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    background-color: transparent;
}

.line{
    width:100%;
    height: 3px;
    background-color: rgb(216, 148, 22);
    border-radius: 1px;
    transition: all 1s;
}

.change .line{
    background-color: rgb(85, 39, 10);
    
}

.change .line1{
transform: rotateZ(405deg) translate(8px,6px);
    }
.change .line2{
    display: none;
    }
.change .line3{
        transform: rotateZ(-405deg) translate(8px, -6px);  
    }

 .navbar{
    position:fixed;
    right:-300px;
    top: 0;
    height: 100%;
    width:300px;
    background: linear-gradient(to bottom, #1a5c72 5%, #e69112 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30% 0 0 70%;
    transition:right .8s cubic-bezier(1, 0, 0, 1);
    z-index: 99;

}

.change {
    right: 0;
}

.navbar ul{
    background-color: transparent;
    position: relative;
    left: 40px;
}

.navbar li{
    list-style: none;
    margin:30px;
    position: relative; 
    padding: 3px 0;
    width:auto;
    background-color: transparent;
}

.navbar a{
    text-decoration:none;
    font-family: 'Cabin Sketch', cursive;
    color:rgb(43, 19, 3);
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-transform: uppercase;
    background-color: transparent;
}

.navbar a:hover{
    color:palegoldenrod
}

.navbar li::after
{
    content: "";
    background-color:rgba(238, 232, 170, 0.466);
    height: 3px;
    border-radius: 10px;
    width: 60%;
    position: absolute;
    left: 0;
    transform: scale(0);
    transition:transform 0.3s cubic-bezier(0, 0, 0.175, 0.5);

}

.navbar li::after{
    bottom:0;
    transform-origin:left;
}

.navbar li:hover::after{
    transform: scale(1);
}


.h1{
    font-family: 'Viga', sans-serif;
    font-size: 50px;
    color: rgb(206, 16, 79);
    /* position: relative; */
    margin:100px 10px 20px 10px;
    top: 100px;
    left: 300px;
    letter-spacing: 1px;
    word-spacing: 15px;

}
   

/* section1 */

.section1{
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    background-color: rgba(214, 16, 16, 0.342);
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
     -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
}

.sec1{
    width: 40%;
    height:43%;
    position: relative;
    box-shadow: 0px 5px 5px 5px rgb(68, 66, 66);
    border-radius: 10px;
}

.sec1 img{
    position:relative;
    top:0;
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.sec1:hover img{
    filter: blur(3px);
}

.sec1 p{
    background-color: transparent;
    margin-left: 10px;
}

.sec1:hover .sec1-1,
.sec1:hover .sec1-2,
.sec1:hover .sec1-3,
.sec1:hover .sec1-4{
    filter: blur(0);
    opacity: 1;
    transition:.5s cubic-bezier(1, 0,0, 1);
}


.sec1-1 ,.sec1-2 ,.sec1-3 ,.sec1-4 {
    position:absolute;
    top: 0;
    background-color: transparent;
    font-size: 25px;
    color: rgb(206, 16, 79);
    opacity: 0;
}
 

.sec1-1 span,.sec1-2 span,.sec1-3 span,.sec1-4 span{
    background-color:transparent; 
    font-size: 50px;
}
.sec1-1 span{
    color: rgb(159, 184, 157);
}
.sec1-2 span{
    color: rgb(19, 216, 223);
}
.sec1-3 span{
    color: rgb(44, 202, 23);
}
.sec1-4 span{
    color: rgb(228, 171, 50);
} 




/*   section2   */

.section2{
    position: relative;
    height: 30vh;
    background-color: rgba(71, 255, 230, 0.37);
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
     -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.section2 p{
    background-color: transparent;
    left: 50px;
    position: relative;
    font-size: 25px;
    color: rgb(214, 29, 122);
    width: 40%;
}

.form{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
    margin-right: 5px;
    background-color: transparent;
}

.name,.number{
    width:70%;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name label,.number label{
    width: 20%;
    background-color: transparent;
    margin: 5px;
    color: rgb(80, 38, 128);

}

#name,#number{
    width:80%;
    height: 40px;
    background-color:rgba(113, 62, 172, 0.137);
    color: rgb(62, 30, 92);
    border-radius: 10px;
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466);
}
.btn{
    width: 90px;
    height: 40px;
    background-color: transparent;
}
.btn input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgb(226, 240, 27);
    background-color: rgb(47, 122, 28);
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466);
}

/*   section3   */



.section3{
    position: relative;
    height: 100vh;
    background-color: transparent;
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
     -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
    margin: 20px;
    border-radius: 10px;
}

.slideshow-container {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 80vh;
  }
  
  .mySlides {
    background-color: transparent;
    display: none;
    height: 80vh;
  }
  .mySlides img{
    height: 100vh;
    border-radius: 10px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(230, 154, 15);
    background-color: rgba(87, 78, 63, 0.671);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
    
  }
  
  .next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #e08e13;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(87, 78, 63, 0.479);
    /* background-color: transparent; */
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #db710d;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(87, 78, 63, 0.671);
    border-radius: 10px;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*   section4   */

.section4{
    position: relative;
    height: 70vh;
    background-color: rgba(71, 234, 255, 0.336);
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
     -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}

.section4 p{
    position:absolute;
    background-color: transparent;
    top: 20px;
    left: 20px;
    /* height: 10vh; */
    font-size: 30px;
    color: rgb(87, 66, 66);
}

.sec4{
    position:relative;
    top: 100px;
    margin: 0 20px;
    background-color: rgba(255, 99, 71, 0.89);
    width: 20%;
    height:50vh;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: space-between;
}

.sec4 img{
    position: relative;
    top: 0;
    height:70%;
    width:100%;
    height:60%;
    border-radius: 10px;
    background-color: transparent;
}

.sec4 p{
    background-color:transparent;
    position:relative;
    height: 30%;
    top: 0px;
    left: 0;
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.sec4 span{
    background-color: transparent;
    color: rgb(66, 52, 52);
    font-size: 25px;
}
 
.sec4 img:hover{
    transform: scale(1.05);
    transition: 1s;

}



/*  contacts    */

.contact{
    position: relative;
    background-color:rgba(77, 79, 82, 0.397);
    box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
     -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
    height: 40vh;
    display: flex;
    border-radius: 10px;
    margin:20px;
    align-items: center;
    justify-content: space-around;
}

.contact p{
    background-color: transparent;
    position: relative;
    width:15vw;
    font-size: 20px;

}
.social-icon{
    background-color: transparent;
}
.social-icon ul{
    background-color: transparent;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    
}

.social-icon li,.social-icon span{
    list-style: none;
    background-color: transparent;
}

.social-icon i{
    background-color:transparent;
    font-size: 30px;
}
.social-icon li:hover{
    color: rgb(252, 249, 249);
}

.social-icon li:nth-child(2):hover{
    color: rgb(4, 116, 243);
}
.social-icon li:nth-child(3):hover{
    color: rgb(32, 32, 250);
}
.social-icon li:nth-child(4):hover{
    color: rgb(185, 7, 7);
}
.social-icon li:nth-child(5):hover{
    color: rgb(32, 158, 16);
}
.social-icon li:nth-child(6):hover{
    color: rgb(250, 32, 86);
}


/*   footer   */


.footer{
    background-color: rgba(0, 0, 0, 0.877);
    height: 10vh;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer p{
    font-size: 12px;
    color: cornsilk;
    background-color: transparent;
}
























/* mobile view  */

@media  screen and (max-width:500px)
 {
  
    .logo,.logo img{
        position: absolute;
        top: 2px;
        left: 0px;
        height: 20px;
        width: 100px;
        z-index: 99;
        background-color:transparent;
        border-radius:0 15px;
        box-shadow: 2px 1px 0px 1px rgba(150, 104, 51, 0.466);
    }
    
    .head{
        height:65vh;
        width:100vw;
        position: relative;
       
        
    }
    .head img{
        height:100%;
        width: 100%;
        float: right;
        box-shadow: 0px 5px 5px 5px rgb(68, 66, 66);
        border-radius: 0px 0 0 1500px;
        
    }
    
    .head h1{
    position:absolute;
    font-size: 22px;
    top: 70px;
    left: 20px;
    color: rgb(230, 162, 73);
    background-color: transparent
    }
    
    .head h1>span{
        font-size: 26px;
        color: peachpuff;
        background-color: transparent
    }
    
    .head h1>span:nth-child(4){
        position:relative;
        left:160px;
    }
    .head h1>span:nth-child(6){
        position:relative;
        left: 200px;
    }
    
    
    .hamberger{
        position:fixed;
        top:20px;
        right: 40px;
        z-index:999;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        background-color: transparent;
    }
    
    .line{
        width:100%;
        height: 2px;
        background-color: rgb(216, 148, 22);
        border-radius: 1px;
        transition: all 1s;
    }
    
    .change .line{
        background-color: rgb(85, 39, 10);
        
    }
    
    .change .line1{
    transform: rotateZ(405deg) translate(4px,7px);
        }
    .change .line2{
        display: none;
        }
    .change .line3{
            transform: rotateZ(-405deg) translate(4px, -7px);  
        }
    
     .navbar{
        position:fixed;
        right:-300px;
        top: 0;
        height: 67%;
        width:250px;
        background: linear-gradient(to bottom, #1a5c72 5%, #e69112 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30% 0 0 70%;
        transition:right .8s cubic-bezier(1, 0, 0, 1);
        z-index: 99;
    
    }
    
    .change {
        right: 0;
    }
    
    .navbar ul{
        background-color: transparent;
        position: relative;
        left: 10px;
    }
    
    .navbar li{
        list-style: none;
        margin:10px;
        position: relative; 
        padding: 3px 0;
        width:auto;
        background-color: transparent;
    }
    
    .navbar a{
        text-decoration:none;
        font-family: 'Cabin Sketch', cursive;
        color:rgb(43, 19, 3);
        font-size: 20px;
        letter-spacing: 1px;
        word-spacing: 5px;
        text-transform: uppercase;
        background-color: transparent;
    }
    
    .navbar a:hover{
        color:palegoldenrod
    }
    
    .navbar li::after
    {
        content: "";
        background-color:rgba(238, 232, 170, 0.466);
        height: 3px;
        border-radius: 10px;
        width: 60%;
        position: absolute;
        left: 0;
        transform: scale(0);
        transition:transform 0.3s cubic-bezier(0, 0, 0.175, 0.5);
    
    }
    
    .navbar li::after{
        bottom:0;
        transform-origin:left;
    }
    
    .navbar li:hover::after{
        transform: scale(1);
    }
    
    
    .h1{
        font-family: 'Viga', sans-serif;
        font-size: 30px;
        color: rgb(206, 16, 79);
        /* position: relative; */
        margin: 10px;
        top: 20px;
        letter-spacing: 1px;
        word-spacing: 5px;
    
    }
       
    
    /* section1 */
    
    .section1{
        position: relative;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:center;
        height:900px;
        margin: 10px 0;
        background-color: rgba(214, 16, 16, 0.342);
    }
    
    .sec1{
        width: 90%;
        height:200px;
        position: relative;
        margin-top: 15px;
        box-shadow: 0px 5px 5px 5px rgb(68, 66, 66);
        border-radius: 10px;
    }
    
    .sec1 img{
        position:relative;
        top:0;
        width:100%;
        height:inherit;
        border-radius: 10px;
    }
    
    .sec1:hover img{
        filter: blur(3px);
    }
    
    .sec1 p{
        background-color: transparent;
        margin-left: 10px;
    }
    
    .sec1:hover .sec1-1,
    .sec1:hover .sec1-2,
    .sec1:hover .sec1-3,
    .sec1:hover .sec1-4{
        filter: blur(0);
        opacity: 1;
        transition:.5s cubic-bezier(1, 0,0, 1);
    }
    
    
    .sec1-1 ,.sec1-2 ,.sec1-3 ,.sec1-4 {
        position:absolute;
        top: 0;
        background-color: transparent;
        font-size: 20px;
        color: rgb(206, 16, 79);
        opacity: 0;
    }
     
    
    .sec1-1 span,.sec1-2 span,.sec1-3 span,.sec1-4 span{
        background-color:transparent; 
        font-size: 40px;
    }
    .sec1-1 span{
        color: rgb(159, 184, 157);
    }
    .sec1-2 span{
        color: rgb(19, 216, 223);
    }
    .sec1-3 span{
        color: rgb(44, 202, 23);
    }
    .sec1-4 span{
        color: rgb(228, 171, 50);
    } 
    
    
    
    
    /*   section2   */
    
    .section2{
        position: relative;
        height: 20vh;
        background-color: rgba(71, 255, 230, 0.37);
        box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466),
         -4px -3px 3px 2px rgba(63, 60, 57, 0.466);
        margin: 10px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .section2 p{
        background-color: transparent;
        left: 10px;
        position: relative;
        font-size: 12px;
        color: rgb(214, 29, 122);
        width: 25%;
    }
    
    .form{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 80%;
        background-color: transparent;
    }
    
    .name,.number{
        width:70%;
        height: 30px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name label,.number label{
        width: 20%;
        background-color: transparent;
        margin: 5px;
        color: rgb(80, 38, 128);
        font-size: 10px;
    
    }
    
    #name,#number{
        margin-left: 10px;
        width:60%;
        height: 25px;
        background-color:rgba(113, 62, 172, 0.137);
        color: rgb(62, 30, 92);
        border-radius: 10px;
        box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466);
    }
    .btn{
        width: 50px;
        height: 30px;
        background-color: transparent;
       
    }
    .btn input{
        background-color: transparent;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        color: rgb(226, 240, 27);
        background-color: rgb(47, 122, 28);
        box-shadow: 4px 3px 3px 2px rgba(63, 60, 57, 0.466);
        font-size: 10px;
    }
    
    
    /*   section3   */
    
    
    .section3{
        position: relative;
        height: 60vh;
        background-color: rgba(71, 255, 230, 0.37);
        margin:10px 0px;
        border-radius: 10px;
    }
    
    .slideshow-container {
        position: relative;
        width: 100%;
        height:inherit;
      }
      
      .mySlides {
        display: none;
        height:inherit;
      }
      .mySlides img{
        height:inherit;
        border-radius: 10px;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: rgb(230, 154, 15);
        background-color: rgba(87, 78, 63, 0.671);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 10px 10px 0;
        user-select: none;
        
      }
      
      .next {
        right: 0;
        border-radius: 10px 0 0 10px;
      }
      
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        color: #e08e13;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        background-color: rgba(87, 78, 63, 0.479);
        /* background-color: transparent; */
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #db710d;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        background-color: rgba(87, 78, 63, 0.671);
        border-radius: 10px;
      }
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    
    
    
    /*   section4   */
    
    .section4{
        position: relative;
        height: 80vh;
        background-color: rgba(71, 234, 255, 0.336);
        border-radius: 10px;
        margin:10px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
    }
    
    .section4 p{
        position:absolute;
        background-color: transparent;
        top: 10px;
        left: 10px;
        font-size: 20px;
        color: rgb(87, 66, 66);
    }
    
    .sec4{
        position:relative;
        top: 50px;
        margin: 0 10px;
        background-color: rgba(255, 99, 71, 0.89);
        width: 42%;
        height:30vh;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        align-content: center;
        justify-content: space-between;
    }
    
    .sec4 img{
        position: relative;
        top: 0;
        height:70%;
        width:100%;
        height:60%;
        border-radius: 10px;
        background-color: transparent;
    }
    
    .sec4 p{
        background-color:transparent;
        position:relative;
        height: 30%;
        top: 0px;
        left: 0;
        margin: 5px;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .sec4 span{
        background-color: transparent;
        color: rgb(66, 52, 52);
        font-size: 15px;
    }
     
    .sec4 img:hover{
        transform: scale(1.05);
        transition: 1s;
    
    }
    
    
    
    /*  contacts    */
    
    .contact{
        position: relative;
        background-color:rgba(77, 79, 82, 0.397);
        height: 20vh;
        display: flex;
        border-radius: 10px;
        margin:10px 0px;
        align-items: center;

    }
    
    .contact p{
        background-color: transparent;
        position: relative;
        font-size: 12px;
        left: 0;
        width:70px;
    }
    .social-icon{
        background-color: transparent;
    }
    .social-icon ul{
        background-color: transparent;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top:50px;
    }
    
    .social-icon li,.social-icon span{
        list-style: none;
        background-color: transparent;
        font-size: 12px;
        height: 10vh;
    }
    
    .social-icon i{
        background-color:transparent;
        font-size: 20px;
    }
    .social-icon li:hover{
        color: rgb(252, 249, 249);
    }
    
    .social-icon li:nth-child(2):hover{
        color: rgb(4, 116, 243);
    }
    .social-icon li:nth-child(3):hover{
        color: rgb(32, 32, 250);
    }
    .social-icon li:nth-child(4):hover{
        color: rgb(185, 7, 7);
    }
    .social-icon li:nth-child(5):hover{
        color: rgb(32, 158, 16);
    }
    .social-icon li:nth-child(6):hover{
        color: rgb(250, 32, 86);
    }
    
    
    /* footer */
    
    
    .footer{
        background-color: rgba(0, 0, 0, 0.877);
        height: 6vh;
        position: relative;
        bottom: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .footer p{
        font-size: 8px;
        color: cornsilk;
        background-color: transparent;
    }
    
}





